body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  border: 1;
  place-items: center;
}
.loginform {
  position: relative;
  width: 372px;
  margin: 3px;
  margin-bottom: 18px;
  padding: 23px;
  border: solid 1px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
}
