@import '../../../../styles/variables';
@import '../../../../styles/mixin';

.slideLectures {
  display: flex;
  flex-flow: column nowrap;
  width: 230px;
  margin-bottom: 10px;
  transition: 0.3s;
  list-style: none;

  &:hover {
    scale: 1.05;
    transition: 0.3s;
  }

  .LectureThumbnail {
    height: 150px;
  }

  .linkTag {
    display: flex;
    flex-flow: column nowrap;
    width: 230px;
  }
}

.lectures {
  width: 2300px;
  margin-right: 15px;
  transition: 0.3s;
  border-radius: 15px;

  &:hover {
    scale: 1.03;
    transition: 0.3s;
  }
}

.lecturetitle {
  display: inline-block;

  height: 44px;
  margin-bottom: 5px;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
  color: rgb(54, 54, 54);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}

.LectureThumbnail {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
}

.lecturePremium {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 21px;
  font-family: 'Alfa Slab One', cursive;

  .ratingTag {
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(217, 47, 103, 0.3);
    color: rgb(50, 50, 50);
    font-size: 10px;
  }

  .ratingTag1 {
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(14, 231, 58, 0.3);
    color: rgb(50, 50, 50);
    font-size: 10px;
  }

  .ratingTag2 {
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(54, 201, 255, 0.3);
    color: rgb(50, 50, 50);
    font-size: 10px;
  }

  .ratingTagContent {
    font-family: 'Noto Sans KR', sans-serif;
  }

  .viewerTag {
    margin-left: 10px;
    padding: 3px;
    border-radius: 5px;
    background-color: $pointPurple;
    color: rgb(50, 50, 50);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
  }
  .hotTag {
    margin-left: 10px;
    padding: 3px;
    border-radius: 5px;
    background-color: $pointYellow;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
}
.scope {
  display: flex;
  align-items: center;
  height: 16px;
  margin-top: 5px;

  .fa-star {
    color: $deepYellow;
  }

  .reviewNumber {
    color: rgb(135, 135, 135);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
  }
}

.price {
  margin-top: 10px;
  color: #3b99ff;
  font-weight: 600;
}
