@import '../../styles/variables';
@import '../../styles/mixin';

.navBar {
  @include flex(space-evenly, center);
  width: 100%;
  height: 65px;

  .dropBoxs {
    display: none;
    position: absolute;
    right: -43px;
    width: 180px;
    margin-top: 15px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 15px;
    opacity: 100%;
    background-color: white;
    text-decoration: none;
    cursor: default;
  }

  .navName {
    color: $pointBlack;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;

    .fa-egg {
      margin-right: 8px;
      color: $deepYellow;
    }
  }

  .navContents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 520px;

    .navContentsList1 {
      position: relative;
      height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 18px;
      cursor: pointer;

      .navP1 {
        padding: 2px;

        .fa-down {
          margin-left: 5px;
          transition: 0.3s;
        }
      }

      &:hover {
        .dropBox1 {
          display: flex;
        }

        .navP1 {
          transition: 0.3s;
          border-bottom: 3px solid $pointGreen;
          font-weight: 700;
        }

        .fa-down {
          transition: 0.3s;
          color: $pointGreen;
        }
      }
    }

    .navContentsList2 {
      position: relative;
      height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: 0.3s;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 18px;
      cursor: pointer;

      .navP2 {
        padding: 2px;
      }

      &:hover {
        .navP2 {
          transition: 0.3s;
          border-bottom: 3px solid $deepYellow;
          font-weight: 700;
        }
      }
    }

    .navContentsList3 {
      position: relative;
      height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: 0.3s;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 18px;
      cursor: pointer;

      .navP3 {
        padding: 2px;
      }

      &:hover {
        .navP3 {
          transition: 0.3s;
          border-bottom: 3px solid $deepYellow;
          font-weight: 700;
        }
      }
    }

    .navContentsList4 {
      position: relative;
      height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: 0.3s;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 18px;
      cursor: pointer;

      .navP4 {
        padding: 2px;
      }

      &:hover {
        .navP4 {
          transition: 0.3s;
          border-bottom: 3px solid $deepYellow;
          font-weight: 700;
        }
      }
    }
  }

  .navLoginBar {
    display: flex;
    justify-content: space-between;
    width: 230px;

    .navLoginBarList1 {
      @include flex(center, center);
      width: 90px;
      height: 42px;
      transition: 0.5s;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        transition: 0.5s;
        background-color: $pointGreen;
      }

      .navLogin {
        color: $pointBlack;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
      }
    }

    .navLoginBarList2 {
      @include flex(center, center);
      width: 120px;
      height: 42px;
      transition: 0.5s;
      border-radius: 8px;
      background-color: $deepYellow;
      cursor: pointer;

      &:hover {
        transition: 0.5s;
        background-color: $pointOrange;
      }

      .navSinUP {
        color: $pointBlack;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
      }
    }
  }

  .dropBoxUl {
    width: 100%;
  }

  .dropBoxCt1 {
    @include flex(center, center);
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(172, 172, 172);
  }

  .dropBoxCt1 a {
    color: rgb(101, 101, 101);
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }

  .dropBoxCtN {
    @include flex(center, center);
    width: 100%;
    height: 45px;
  }

  .dropBoxCtN a {
    color: rgb(101, 101, 101);
    font-size: 15px;
    cursor: pointer;
  }

  .subeDropBox {
    display: none;
    position: absolute;
    left: 160px;
    width: 180px;
    margin-top: 15px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 15px;
    opacity: 100%;
    background-color: red;
    background-color: white;
    cursor: default;
  }
}
h1 {
  text-align: center;
}
