@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.productDetailPage {
  margin: 0 auto;
  width: 70%;

  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;

    .productImg {
      width: 50%;
    }

    .productContent {
      padding-left: 5%;
      width: 45%;

      .productBrandName {
        font-size: 15px;
        color: gray;
        padding-bottom: 10px;
      }

      .productName {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 15px;
      }

      .productPrice {
        font-size: 15px;
        padding-bottom: 15px;
      }

      .productDelivery {
        display: flex;

        .productDeliveryTitle {
          padding-right: 40px;
        }
        .productDeliveryContent {
          .productDeliveryCondition {
            padding: 15px 0;
            font-size: 15px;
            color: gray;
          }
        }
      }

      .productSeller {
        display: flex;

        .productSellerTitle {
          padding-right: 25px;
        }

        .productSellerName {
          font-family: 'Alfa Slab One', cursive;
          padding-bottom: 15px;
        }
      }

      .productOption {
        display: flex;

        .productOptionTitle {
          padding-right: 40px;
        }

        .productOptionAmount {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #858a8d;
          border-radius: 3px;

          .amount {
            font-size: 13px;
            padding: 4px 7px;
            height: 100%;
          }

          .decreaseBtn,
          .increaseBtn {
            padding: 0 5px;
            font-size: 20px;
            background-color: transparent;
            margin-top: -3.667px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .productSelected {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 20px 0;
      }

      .payFormBtns {
        display: flex;

        .cartBtn,
        .payBtn {
          width: 45%;
          font-family: 'Nanum Gothic', sans-serif;
          border-radius: 4px;
          font-size: 15px;
          padding: 12px;

          &:hover {
            cursor: pointer;
          }
        }

        .payBtn {
          margin-left: 10px;
          font-family: 'Nanum Gothic', sans-serif;
          background-color: $pointOrange;
          color: white;
        }
      }
    }
  }

  .productDetailPageMain {
    .productDetailPageMainNavBar {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      width: 100%;
      margin: 30px auto;
      background-color: #f8f9fa;
      font-family: 'Nanum Gothic', sans-serif;

      .navBarInfo,
      .navBarReview,
      .navBarCall {
        &:hover {
          color: $pointOrange;
          cursor: pointer;
        }
      }
    }

    .productDetailPageContent {
      font-family: 'Noto Sans KR', sans-serif;
      width: 65%;
      .productDetailPageInfo {
        .productInfoTitle {
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 20px;
        }
      }

      .review {
        font-family: 'Noto Sans KR', sans-serif;

        .reviewTitle {
          padding: 20px 0;
          font-size: 20px;
          font-weight: bold;
        }

        .reviewSubTitle {
          padding-bottom: 10px;
          font-size: 15px;
          color: gray;
        }

        .inputBox {
          @include flex(normal, center);
          flex-direction: column;
          padding: 40px;
          background-color: #f8f9fa;
          border: 1px solid #e9ecef;
          border-radius: 4px;

          .inputBoxStar {
            display: inline;
            padding-bottom: 40px;
            font-family: 'Noto Sans KR', sans-serif;
          }

          .reviewInputBox {
            width: 100%;
            height: 100px;
            padding: 10px;
            font-size: 13px;
            font-family: 'Noto Sans KR', sans-serif;
            border: 1px solid #e9ecef;
            resize: none;

            &::placeholder {
              opacity: 0.4;
            }
          }

          .enrollBtn {
            padding: 7px 12px;
            margin-top: 10px;
            background-color: $pointOrange;
            color: white;
            border-radius: 5px;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 13px;
            cursor: pointer;

            &:disabled {
              opacity: 0.4;
              cursor: default;
            }
          }
        }
      }
    }
  }

  .productDetailPageAside {
    font-family: 'Nanum Gothic', sans-serif;
    width: 30%;
    float: right;

    .asideSelectedProduct {
      background-color: #f8f9fa;
      padding: 15px;
      margin-bottom: 10px;
      color: gray;

      .asideProductName {
        margin-bottom: 20px;
      }

      .asideProductOption {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .asideProductTitle {
          padding-right: 5px;
        }

        .asideOptionAmount {
          border: 1px solid #858a8d;
          border-radius: 3px;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .amount {
            font-size: 13px;
            height: 100%;
          }

          .decreaseBtn,
          .increaseBtn {
            padding: 0 10px;
            font-size: 20px;
            background-color: transparent;
            margin-top: -3.667px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .asideProductPrice {
      margin-top: 30%;

      .asidePrice {
        font-size: 25px;
        margin-bottom: 20px;
      }

      .payFormBtns {
        .cartBtn,
        .payBtn {
          width: 100%;
          font-family: 'Nanum Gothic', sans-serif;
          border-radius: 4px;
          font-size: 15px;
          padding: 12px;

          &:hover {
            cursor: pointer;
          }
        }

        .payBtn {
          font-family: 'Nanum Gothic', sans-serif;
          background-color: $pointOrange;
          color: white;
          margin-top: 10px;
        }
      }
    }
  }
}
