@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.productDetailPage {
  margin: 0 auto;
  width: 70%;

  .product {
    @include flex(center, center);
    font-family: 'Nanum Gothic', sans-serif;

    .productImg {
      width: 50%;
    }

    .productContent {
      padding-left: 5%;
      width: 45%;

      .productBrandName {
        padding-bottom: 10px;
        color: gray;
        font-size: 15px;
      }

      .productName {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 40px;
      }

      .productPrice {
        padding-bottom: 15px;
        font-size: 15px;
      }

      .productDelivery {
        display: flex;

        .productDeliveryTitle {
          padding-right: 40px;
        }
        .productDeliveryContent {
          .productDeliveryCondition {
            padding: 15px 0;
            color: gray;
            font-size: 15px;
          }
        }
      }

      .productSeller {
        display: flex;

        .productSellerTitle {
          padding-right: 25px;
        }

        .productSellerName {
          padding-bottom: 15px;
          font-family: 'Alfa Slab One', cursive;
        }
      }

      .productOption {
        display: flex;

        .productOptionTitle {
          padding-right: 40px;
        }

        .productOptionAmount {
          @include flex(center, center);
          border: 1px solid #858a8d;
          border-radius: 3px;

          .amount {
            padding: 4px 7px;
            height: 100%;
            font-size: 13px;
          }

          .decreaseBtn,
          .increaseBtn {
            margin-top: -3.667px;
            padding: 0 5px;
            background-color: transparent;
            font-size: 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .productSelected {
        @include flex(space-between, normal);
        width: 90%;
        margin: 20px 0;
      }

      .payFormBtns {
        display: flex;

        .cartBtn,
        .payBtn {
          width: 45%;
          padding: 12px;
          border-radius: 4px;
          font-family: 'Nanum Gothic', sans-serif;
          font-size: 15px;

          &:hover {
            cursor: pointer;
          }
        }

        .payBtn {
          margin-left: 10px;
          background-color: $pointOrange;
          color: white;
          font-family: 'Nanum Gothic', sans-serif;
        }
      }
    }
  }

  .productDetailPageMain {
    .productDetailPageMainNavBar {
      @include flex(space-around, normal);
      padding: 20px;
      width: 100%;
      margin: 30px auto;
      background-color: #f8f9fa;
      font-family: 'Nanum Gothic', sans-serif;

      .navBarInfo,
      .navBarReview,
      .navBarCall {
        &:hover {
          color: $pointOrange;
          cursor: pointer;
        }
      }
    }

    .productDetailPageContent {
      width: 65%;
      font-family: 'Noto Sans KR', sans-serif;
      .productDetailPageInfo {
        .productInfoTitle {
          padding-bottom: 40px;
          font-size: 20px;
          font-weight: bold;
        }
      }

      .review {
        font-family: 'Noto Sans KR', sans-serif;

        .reviewTitle {
          padding: 40px 0;
          font-size: 20px;
          font-weight: bold;
        }

        .reviewSubTitle {
          padding-bottom: 10px;
          font-size: 15px;
          color: gray;
        }

        .inputBox {
          @include flex(normal, center);
          flex-direction: column;
          padding: 40px;
          border: 1px solid #e9ecef;
          border-radius: 4px;
          background-color: #f8f9fa;

          .countingStar {
            padding-bottom: 20px;
            .yellowStar {
              color: #fcc419;
            }
            & svg {
              color: rgb(172, 170, 170);
              cursor: pointer;
            }

            :hover svg {
              color: #fcc419;
            }
          }

          .inputBoxStar {
            display: inline;
            padding-bottom: 40px;
            font-family: 'Noto Sans KR', sans-serif;
          }

          .reviewInputBox {
            width: 100%;
            height: 100px;
            padding: 10px;
            border: 1px solid #e9ecef;
            font-size: 13px;
            font-family: 'Noto Sans KR', sans-serif;
            resize: none;

            &::placeholder {
              opacity: 0.4;
            }
          }

          .enrollBtn {
            padding: 7px 12px;
            margin-top: 10px;
            border-radius: 5px;
            background-color: $pointOrange;
            color: white;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 13px;
            cursor: pointer;

            &:disabled {
              opacity: 0.4;
              cursor: default;
            }
          }
        }
      }

      .commentList {
        margin: 20px 0;

        .commentInfo {
          display: flex;

          .profileImg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .commentStarId {
            padding-left: 20px;

            .commentStar {
              padding-bottom: 5px;
            }

            .commentId {
              padding-top: 5px;
              color: gray;
              font-weight: bold;
            }
          }
        }

        .comment {
          padding: 15px 0;
          font-size: 15px;
          font-family: 'Noto Sans KR', sans-serif;
        }
      }
    }

    .productQna {
      width: 65%;
      font-family: 'Noto Sans KR', sans-serif;

      .productQnaTitle {
        padding: 40px 0 20px;
        font-size: 20px;
        font-weight: bold;
      }

      .productQnaQuestion {
        padding: 20px 0;
      }

      .productQnaAnswer {
        line-height: 25px;
      }
    }
  }

  .productDetailPageAside {
    width: 30%;
    float: right;
    font-family: 'Nanum Gothic', sans-serif;

    .asideSelectedProduct {
      padding: 15px;
      margin-bottom: 10px;
      background-color: #f8f9fa;
      color: gray;

      .asideProductName {
        margin-bottom: 20px;
      }

      .asideProductOption {
        @include flex(space-between, center);

        .asideProductTitle {
          padding-right: 5px;
        }

        .asideOptionAmount {
          @include flex(center, center);
          width: 50%;
          border: 1px solid #858a8d;
          border-radius: 3px;

          .amount {
            height: 100%;
            font-size: 13px;
          }

          .decreaseBtn,
          .increaseBtn {
            padding: 0 10px;
            margin-top: -3.667px;
            background-color: transparent;
            font-size: 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .asideProductPrice {
      margin-top: 30%;

      .asidePrice {
        margin-bottom: 20px;
        font-size: 25px;
      }

      .payFormBtns {
        .cartBtn,
        .payBtn {
          width: 100%;
          padding: 12px;
          border-radius: 4px;
          font-size: 15px;
          font-family: 'Nanum Gothic', sans-serif;

          &:hover {
            cursor: pointer;
          }
        }

        .payBtn {
          margin-top: 10px;
          color: white;
          background-color: $pointOrange;
          font-family: 'Nanum Gothic', sans-serif;
        }
      }
    }
  }
}
