.commentList {
  margin: 20px 0;
  border-bottom: 1px solid #e9ecef;
  border-radius: 2px;

  .commentInfo {
    display: flex;

    .commentStarId {
      .commentStar {
        padding-bottom: 5px;

        .yellowStar {
          color: #fcc419;
        }
      }

      .commentId {
        padding-top: 5px;
        color: gray;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  .comment {
    padding: 15px 0;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
  }
}
