@import '../../../../styles/mixin';
@import '../../../../styles/variables';

.freeLectureBody {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .fa-chevron-left {
    margin-right: 5px;
    transition: 0.3s;
    color: $pointOrange;
    &:hover {
      transition: 0.3s;
      color: $pointGreen;
      cursor: pointer;
      scale: 1.2;
    }
  }

  .fa-chevron-right {
    margin-left: 10px;
    transition: 0.3s;
    color: $pointOrange;
    &:hover {
      transition: 0.3s;
      color: $pointGreen;
      cursor: pointer;
      scale: 1.2;
    }
  }

  .lecturesSlide {
    display: flex;
    flex-flow: row nowrap;
    transition: 1s;

    .slideLectures {
      width: 201px;
      height: 264px;
      margin-right: 15px;
      margin-left: 1px;
      transition: 0.3s;

      &:hover {
        scale: 1.03;
        transition: 0.3s;
      }
    }
  }
}
